{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "plugins": [
    "prettier-plugin-astro"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
